mixin work-card(name,img,workCardTitle, workCardParagraph, modalTitle, modalParagraph, link, technologies, github)
  .work-card(name=name) 
    img(data-src=img alt='My project image. Requires javaScript')
    .card-overlay
      h2=workCardTitle
      p=workCardParagraph
  .modal.hidden
    .modal-inner
      .close-modal
        i.fas.fa-times
      h2=modalTitle
      p=modalParagraph
      .technologies-row 
        p Technologies used: &nbsp; 
        each technology in technologies 
          img.tech-icon(class="technology-icon" src=technology.img, alt=technology.name)
          span.tech-name=technology.name
      .modal-links
        a.button-modal(href=link)
          span Check it
        a.button-modal(href=github)
          i.fab.fa-github
          span Github repository